<div class="contact" id="contact">
    <h1>Get in contact</h1>
<form
  class="message-box"
  action="https://formspree.io/f/xojqdbpz"
  method="POST"
>
  <input
    class="name"
    type="text"
    name="name"
    placeholder="Name"
    required
  />

  <input
    class="email"
    type="email"
    name="email"
    placeholder="Email"
    required
  />

  <textarea
    class="message"
    name="message"
    placeholder="Message"
    required
  ></textarea>

  <button type="submit">Send</button>\
  <input type="hidden" name="_subject" value="New portfolio message" />
    <input type="hidden" name="_redirect" value="/thanks" />
</form>

</div>