.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 200px;
}

.contact h1 {
    color: var(--accent-text);
}

.message-box {
border: 2px solid rgba(220, 140, 49, 0.5);
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  background-color: var(--main-container);
  border-radius: 20px;

  gap: 12px;              
  padding: 40px;          
  align-items: center;
}


.message-box .name,
.message-box .email {
  width: 100%;
  height: 40px;
  background-color: var(--secondary-container);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.06);
  padding: 0 12px;
  color: var(--main-text);
}

.message-box .message {
  width: 100%;
  flex: 1;
  background-color: var(--secondary-container);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.06);
  padding: 12px;
  color: var(--main-text);
  resize: none;
}

button {
  background-color: var(--accent-text);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {background-color: #8a5a14;color: white}