footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 3px;
    background-color: var(--main-container);
    height: 200px;
    color: grey;
}