#intro{
    display: flex;
    margin-top: 400px;
    flex-direction: column;
    align-items: center;
    text-align: center;

    color: var(--main-text);

}

#intro .greeting {
    display: flex;
    flex-direction: row;

    h2 {
        margin : 5px;
    }


    #name{
        color: var(--accent-text);
    }
}

#intro h1 {
    font-size: 50px;
}

#intro p {
    margin: 20px;
    max-width: 900px;
}

.socials{
    display: flex;
    margin-top: 0px;
    justify-content: center;
}

a{
    margin: 20px;
}

a img {
  width: 50px;
  height: auto;
}
