// number of stars
@function multiple-box-shadow($n) {
  $value: "#{random(100)}vw #{random(100)}vh #FFF";

  @for $i from 2 through $n {
    $value: "#{$value}, #{random(100)}vw #{random(100)}vh #FFF";
  }

  @return unquote($value);
}



.starscontainer{
  perspective: 1000px;
  width: 100%;
}

$shadows-small: multiple-box-shadow(500);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(40);

html,
body {
  height: 100%;
  margin: 0;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow-x: hidden;
}

#stars,
#stars2,
#stars3 {
  position: fixed;
  inset: 0;
  transform-origin: 50vw 50vh;
  pointer-events: none;
}


#stars {
  width: 1px;
  height: 1px;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &::after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &::after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 4px;
  height: 4px;
  box-shadow: $shadows-big;
  animation: animStar 40s linear infinite;

  &::after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateZ(0) rotate(0deg);
  }
  to {
    transform: translateZ(0) rotate(360deg);
  }
}

 